*{
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  width: 100%;
  height: 55px;
  background-color: #3b5998;
  flex-flow: row;
  justify-content: center;
}

header nav{
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

header nav div{
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 45px/45px;
}

body{
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

#wrapper{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}
#contenido{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-content: stretch;
  height: 100%;
}

#lateralIzquierdo, #lateralDerecho{
  width: 25%;
}

#timeline{
  width: 50%;
}
